/* место для вашего кода */

.header {
    background-color: grey;
    margin: 92px 24px 96px 24px;
}

.header__menu {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    font-size: 18px;
}

.header__links-list {
    padding: 44px 36px 39px 26.52px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 2fr 4fr 3fr;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-item_no-bullit {
    list-style: none;
}

/*.header__link {}

.header__link_active {
    
}

.header__logo {}

.header__logo-image {}*/

.address {
    list-style: none;
    margin-left: 184px;
}

/*.header__address {}*/